*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	background-color: #ffff00;
	color: #330000;
	width: 100vw;
  min-height: 100vh;
  padding: 2% 3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}

.titulo{
  text-align: center;
  margin-bottom: 10px;
  color: #5391c7;
  text-shadow: 1px 1px 1px black;
}

.boards{
	width: 100%;
	flex: 1;
	display: flex;
	min-height: 100%;
	justify-content: space-between;
}

.column{
	width: 32%;
	min-height: 100%;
	margin: 0 3%;
	background-color: #ffff66;
	border: 3px solid #5391c7;
	border-radius: 20px;
}

.column h2{
 	text-align: center;
	padding: 30px 15px 15px 15px;
	color: #5391c7;
}

.drag{
  
}

.dragCard{
	width: 95%;
	height: auto;
	margin: auto auto;
	margin-bottom: 6%;
	background-color: #5391c7;
	border-radius: 5px;
	font-weight: bold;
	font-size: 18px;
	word-wrap: break-word;
  box-shadow: 3px 2px 2px black;
}

.dragCard:hover{
  cursor: move;
}

.assigned{
  border: 1px solid #000000;
  padding-left: 3px;
  font-size: 15px;
  border-radius: 5px 5px 0px 0px;
}

.content{
  border: 1px solid #000000;
  padding-left: 3px;
  border-radius: 0px 0px 5px 5px;
}

.insertCard{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.allcard{
  display: flex;
  flex-direction: column;
}

.card{
	width: 27%;
	height: auto;
	margin: 20px 0px 20px 35px;
	background-color: #5391c7;
  border: 1px solid #000000;
  border-radius: 4px;
}

#addCard{
  display: flex;
  padding: 5px 5px;
}

.valueCard{
  font-weight: bold;
}

 .buttonCard{
  display: flex;
  align-items: flex-end;
  margin-bottom: 7%
 }

.card h2{
  text-align: center;
  padding:5px;
}

.card input{
	width: 80%;
 	height: 30px;
 	background-color: #ffffA0;
  border: 2px solid #fd951f11;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2em;
  padding: 15px;
  color: #000000;
}

.card input:focus, .card input:hover{
  border-bottom: 3px solid #fd951fcc;
}

.card button{
  background: none;
  border: none;
  width: 10%;
  height: 10px;
}

.card button:hover{
  cursor: pointer;
}

.card button img{
  height: 30px;
}

.user{
	width: 33%;
	height: 100px;
	margin: 20px;
	background-color: #5391c7;
  border: 3px solid #539177;
  border-radius: 5px;
}

.cuser form{
  display: flex;
  justify-content: space-between;
}

.user h2{
  text-align: center;
  padding:5px;
}

.user input{
	width: 80%;
 	height: 30px;
 	background-color: #ffffA0;
  border: 2px solid #fd951f11;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2em;
  padding: 15px;
}

.user input:focus, .user input:hover{
  border-bottom: 3px solid #fd951fcc;
}

.user button{
  background: none;
  border: none;
  width: 10%;
  height: 10px;
}

.user button:hover{
  cursor: pointer;
}

.user button img{
  height: 30px;
}

.deleteCard{
	width: 33%;
	text-align: center;
  height: 100px;
 	margin:  30px 15px 0px 15px;
 	background-color: #ffffA0;
 	border: 1px solid #fd951f11;
 	border-radius: 5px;
 	background-image: url('../img/trash.svg');
 	background-repeat: no-repeat;
 	background-position: center;
 	background-size: 50px;
}

.deleteCard .drag{
  height: 100%;
}

@media all and (max-width: 800px){
 
}